{% macro itemSpeaker(name, surname, function, picture) %}
<article>
  <p>
    <img src="/assets/img/speakers/{{ picture }}"
         class="o-fluidimg"
         alt="">
  </p>
  <h2>{{ name }} {{ surname }}</h2>
  <p>{{ function }}</p>
</article>
{% endmacro %}