{% macro itemSpeaker(picture, name, surname, function, company, index) %}
<article class="c-speaker" style="--index: {{ index }};">
  <p class="c-speaker__media">
    <img src="/assets/img/speakers/{{ picture }}"
         class="c-speaker__img  o-fluidimg"
         loading="lazy"
         decoding="async"
         alt="{{ name }} {{ surname }}">
  </p>
  <div class="c-speaker__body">
    <h4 class="c-speaker__title">{{ name }} {{ surname }}</h4>
    <p class="c-speaker__description">{{ function }}, {{ company }}</p>
  </div>
</article>
{% endmacro %}