{% macro itemReview(text, author) %}
<figure class="c-review">
  <blockquote class="c-review__quote">
    <p>{{ text }}</p>
  </blockquote>
  <figcaption class="c-review__author">{{ author }}</figcaption>
</figure>
{% endmacro %}