{% macro itemSpeaker(picture, name, surname, function, company) %}
<article class="c-speaker">
  <p class="c-speaker__image">
    <img src="/assets/img/speakers/{{ picture }}"
         class="o-fluidimg"
         alt="">
  </p>
  <h4 class="c-speaker__name">{{ name }} {{ surname }}</h4>
  <p class="c-speaker__description">{{ function }}, {{ company }}</p>
</article>
{% endmacro %}