// =================================
// =titles
// =================================

.c-h1,
.c-h2,
.c-h3,
.c-h4 {
  font-weight: 500;
  font-family: var(--fontstack-main);
  line-height: 1.2;
  margin-block-end: 1.24em;
  color: var(--color-white);
}

.c-h2 {
  font-size: calc(23 / 16 * 1rem);

  @include breakpoint(medium) {
    font-size: calc(25 / 16 * 1rem);
  }
}

.c-h2 {
  font-size: calc(20 / 16 * 1rem);

  @include breakpoint(medium) {
    font-size: calc(23 / 16 * 1rem);
  }
}

.c-h3 {
  font-size: calc(18 / 16 * 1rem);

  @include breakpoint(medium) {
    font-size: calc(20 / 16 * 1rem);
  }
}

.c-h4 {
  font-size: calc(16 / 16 * 1rem);

  @include breakpoint(medium) {
    font-size: calc(18 / 16 * 1rem);
  }
}
