// =================================
// =speaker
// =================================

@keyframes scan {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -6000px;
  }
}

.c-speaker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: calc(24 / 16 * 1rem);
}

.c-speaker__media {
  position: relative;
  margin: 0;
  background-color: var(--color-brand);
  overflow: hidden;
}

.c-speaker__media::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/scanner.svg);
  background-repeat: no-repeat;
  animation: scan;
  animation-duration: 2.4s;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
  opacity: 0.5;
}

.c-speaker__img {
  filter: grayscale(1);
  mix-blend-mode: multiply;
}

.c-speaker__title {
  color: var(--color-white);
  font-weight: 500;
  font-size: 1rem;
  margin-block-end: calc(3 / 16 * 1rem);
}

.c-speaker__description {
  color: var(--color-text-muted);
  font-weight: 400;
  font-size: 1rem;
  margin-block-end: 0;
}
