// =================================
// =sponsor
// =================================

.c-sponsor {
  display: block;
}

.c-sponsor__link {
  display: block;
}

.c-sponsor__logo {
  filter: grayscale(1);
  opacity: 0.84;
  transition: opacity 0.2s ease-out;
}

a:hover .c-sponsor__logo,
a:focus .c-sponsor__logo {
  opacity: 1;
}
