// =================================
// =page title
// =================================

.c-pagetitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(18 / 16 * 1rem);

  @include breakpoint(medium) {
    flex-direction: row;
    gap: calc(42 / 16 * 1rem);
  }

  @include breakpoint(large) {
    flex-direction: row;
    gap: calc(60 / 16 * 1rem);
  }
}

.c-pagetitle::before {
  flex: 0 0 auto;
  content: "";
  width: 42px;
  height: 42px;
  background-image: url(../img/greenquote.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include breakpoint(medium) {
    width: 60px;
    height: 60px;
  }

  @include breakpoint(large) {
    width: 72px;
    height: 72px;
  }

  @include breakpoint(xlarge) {
    width: 90px;
    height: 90px;
  }
}

.c-pagetitle__main {
  flex: 1 1 100%;
}

.c-pagetitle__main {
  margin-block-end: calc(30 / 16 * 1rem);
  color: var(--color-white);
  font-size: clamp(
    calc(41 / 16 * 1rem),
    calc(1rem + 6vw),
    calc(94 / 16 * 1rem)
  );
  line-height: 1.18;
  font-weight: 800;
}

.c-pagetitle__subtitle {
  color: var(--color-brand);
  font-weight: 400;
  font-size: 1rem;
}
