// =================================
// =footer
// =================================

.c-sitefooter {
  display: block;
}

.c-sitefooter__content {
  padding-block: calc(24 / 16 * 1rem);
  border-block-start: 1px solid rgba(255, 255, 255, 0.18);
}

.c-sitefooter__copyright {
  margin-bottom: 0;
}
