---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% from "macros/itemSpeaker.njk" import itemSpeaker %}
{% from "macros/itemReview.njk" import itemReview %}
{% from "macros/itemSponsor.njk" import itemSponsor %}

{% set metaTitle = "Accueil" %}
{% set metaDescription = site.description %}
{% set metaImage = site.metaImage %}

{% block content %}
  <div class="c-pagesection">
    <div class="l-container">

      <div class="c-pagetitle">
        <div class="c-pagetitle__content">
          <h1 class="c-pagetitle__main">Faites ce que je dis, pas ce que je fais!</h1>
          <h2 class="c-pagetitle__subtitle">Soirée métiers multimédia, édition 2022-2023</h2>
        </div>
      </div>

    </div>
  </div>

  <div class="c-pagesection">
    <div class="l-container  l-split">
      <div>
        <h3 class="c-h3">Soirée</h3>
      </div>
      <div class="c-pageintro">
        <p>Préparez vous à revivre les grandes heures du mythique 022, à découvrir l'origine des écarts de température à Athéna, l'époque à laquelle Jérôme avait des cheveux ...</p>
        <p>Dans ce lieu magique qu'est la grande salle de Blocry, 5 anciens multimédias partageront avec vous leurs parcours, leurs joies et leurs peines.</p>
      </div>
    </div>
  </div>
  
  <div class="c-pagesection">
    <div class="l-container  l-split">
      <div>
        <h3 class="c-h3">Speakers</h3>
      </div>
      <div>
        {% set allSpeakers = collections.speakers %}
        {% for item in allSpeakers %}
          {% if loop.first %}<ul class="l-grid  l-grid--gap  l-grid--2cols@small  l-grid--3cols@large">{% endif %}
            <li>
              {{ itemSpeaker(
                picture = item.data.picture,
                name = item.data.name,
                surname = item.data.surname,
                function = item.data.function,
                company = item.data.company
              ) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="c-pagesection">
    <div class="l-container  l-split">
      <div>
        <h3 class="c-h3">Informations</h3>
      </div>
      <div>
        <div class="l-grid  l-grid--colgap  l-grid--2cols@medium">
          <div>
            <p>
              17 novembre 2022<br>
              19h00 - 23h30<br>
              Entrée gratuite
            </p>
          </div>
          <div>
            <address>
              <p>Institut des Arts de Diffusion<br>
              Route de Blocry, 5<br>
              1340 Louvain-la-Neuve</p>
            </address>
          </div>
        </div>
        {% if site.reservations %}
          <p><a class="c-cta" href="https://forms.gle/g7cR1vtF5oKfb5H88">Réservation obligatoire</a></p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="c-pagesection">
    <div class="l-container  l-split">
      <div>
        <h3 class="c-h3">Sponsors</h3>
      </div>
      <div>
        {% for item in sponsors %}
          {% if loop.first %}<ul class="c-sponsors">{% endif %}
            <li>
              {{ itemSponsor(
                name = item.name,
                logo = item.logo,
                url = item.url
              ) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="c-pagesection">
    <div class="l-container  l-split">
      <div>
        <h3 class="c-h3">Reviews</h3>
      </div>
      <div>
        {% for item in reviews %}
          {% if loop.first %}<ul class="l-grid  l-grid--gap  l-grid--auto">{% endif %}
            <li>
              {{ itemReview(
                text = item.text,
                author = item.author
              ) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
