---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% from "macros/itemSpeaker.njk" import itemSpeaker %}
{% from "macros/itemReview.njk" import itemReview %}
{% from "macros/itemSponsor.njk" import itemSponsor %}

{% set metaTitle = "Home" %}
{% set metaDescription = "This is an SEO description for this page" %}
{% set metaImage = site.metaImage %}

{% block content %}
  <div class="c-pagesection">
    <div class="l-container">
      <h1 class="c-pagetitle">Faites ce que je dis, pas ce que je fais.</h1>
      <h2 class="c-pagesubtitle">Soirée métiers multimédia, deuxième édition, 2022-2023</h2>
    </div>
  </div>

  <div class="c-pagesection">
    <div class="l-container  l-split">
      <div>
        <h3 class="c-h3">Soirée</h3>
      </div>
      <div>
        <p>Préparez vous a revivre les grandes heures du mythique 022, les origines du problème de chauffage à Athéna, l'époque à laquelle Jérôme avait des cheveux ...</p>
        <p>Dans le lieu qui a acceuilli distinctions, satisfactions et parfois échecs, 5 anciens multimédias, partegerons leurs parcours, leurs joies, leurs difficultés.</p>
      </div>
    </div>
  </div>
  
  <div class="c-pagesection">
    <div class="l-container  l-split">
      <div>
        <h3 class="c-h3">Speakers</h3>
      </div>
      <div>
        {% set allSpeakers = collections.speakers %}
        {% for item in allSpeakers %}
          {% if loop.first %}<ul class="l-grid  l-grid--gap  l-grid--2cols@small  l-grid--3cols@large">{% endif %}
            <li>
              {{ itemSpeaker(
                picture = item.data.picture,
                name = item.data.name,
                surname = item.data.surname,
                function = item.data.function,
                company = item.data.company
              ) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="c-pagesection">
    <div class="l-container  l-split">
      <div>
        <h3 class="c-h3">Informations</h3>
      </div>
      <div class="l-grid  l-grid--colgap  l-grid--2cols@medium">
        <p>
          17 novembre 2022<br>
          Entrée gratuite<br>
          Réservation obligatoire
        </p>
        <address>
          Institut des Arts de Diffusion<br>
          Route de Blocry, 5<br>
          1340 Louvain-la-Neuve
        </address>
      </div>
    </div>
  </div>

  <div class="c-pagesection">
    <div class="l-container  l-split">
      <div>
        <h3 class="c-h3">Reviews</h3>
      </div>
      <div>
        {% for item in reviews %}
          {% if loop.first %}<ul class="l-grid  l-grid--gap  l-grid--auto">{% endif %}
            <li>
              {{ itemReview(
                text = item.text,
                author = item.author
              ) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="c-pagesection">
    <div class="l-container  l-split">
      <div>
        <h3 class="c-h3">Sponsors</h3>
      </div>
      <div>
        {% for item in sponsors %}
          {% if loop.first %}<ul>{% endif %}
            <li>
              {{ itemSponsor(
                name = item.name,
                logo = item.logo
              ) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
