// =================================
// =container
// =================================

.l-container {
  margin: 0 auto;
  max-width: 1200px;
  padding-inline: calc(18 / 16 * 1rem);

  @include breakpoint(small) {
    padding-inline: calc(24 / 16 * 1rem);
  }

  @include breakpoint(medium) {
    padding-inline: calc(48 / 16 * 1rem);
  }

  @include breakpoint(large) {
    padding-inline: calc(60 / 16 * 1rem);
  }
}
