// =================================
// =colors
// =================================

:root {
  // base colors (not used in CSS)
  --color-green: #4dee15;

  --color-gray-100: #020501;
  --color-gray-200: #282b27;
  --color-gray-300: #414340;
  --color-gray-400: #747573;
  --color-gray-500: #888a88;
  --color-gray-600: #c0c0bf;
  --color-gray-700: #e6e6e6;
  --color-gray-800: #fafafa;

  --color-white: #ffffff;

  // incident colors: used in CSS
  --color-brand: var(--color-green);

  --color-text: var(--color-gray-600);
  --color-text-muted: var(--color-gray-500);
  --color-background: var(--color-gray-100);
}
