// =================================
// =fonts
// =================================

/* prettier-ignore */
:root {
  --fontstack-main: 
    "Inter", 
    system-ui, 
    "Open Sans", 
    "Helvetica", 
    "Arial",
    sans-serif;
}
