<footer class="c-sitefooter">
  <div class="l-container">
    <div class="c-sitefooter__content">
      <p class="c-sitefooter__copyright">&copy; La Casa Productions &amp; <a href="https://www.iad-arts.be">IAD</a> - {{ site.buildDate | dateFormat("yyyy") }}</p>
    </div>
  </div>
</footer>
