<header class="c-siteheader">
  <div class="c-siteheader__content  l-container">

    <div class="c-siteheader__info">
      <p class="c-siteheader__title">Réalisation Multimédia</p>
      <p class="c-siteheader__subtitle">Soirée métiers &amp; débouchés</p>
    </div>
    <p class="c-siteheader__date"><time datetime="2022-11-17">17 novembre 2022</time></p>

  </div>
</header>
